@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


/*--------------------------------------------Header*/

a.navbar-brand {
    text-align: center;
    font-size: xx-large;
    font-weight: 600;  
    color: #c2cfdd; 
    
}

.navbar {
    margin: 0;
    padding: 0px;
   
}


.navbar-collapse {
    font-weight: 400;
    
}

/*--------------------------------------------Section*/

.background-image {
    background-position: center;
    background-size: cover;
}


/*--------------------------------------------Footer*/

footer {
    background-color: rgb(128, 127, 126);
    font-family: 'Ubuntu', sans-serif;
    color: black;
    text-align: center;
    height: 80px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
}

#footer {
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
}

#footer-copy{
    float: left;
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 10px;
    padding-top: 23px;
}

/*--Transition from code by Matt Rudge at Code Institute(customized)--*/
.social-links i {
    float: right;
    margin-right: 10px;
    margin-top: 23px;
    font-size: 2rem;
    color: #c2cfdd;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links i:hover {
    color: black
}

/*--------------------------------------------Carousel*/

.carousel-item {
    width:100%; 
    padding: 0;
    margin: 0;
    border: 0;
}

/*--------------------------------------------our story*/

.container-fluid {
    background-color: rgb(128, 127, 126);
    padding:0;
    margin: 0;
    border: 0;
  
}

.our-story-background {
    background-image: url("../images/unfelde-logo.jpg");
    background-repeat: no-repeat;
    background-size:cover;   
}

.our-story {
    margin: 0;
}
/*--------------------------------------------gallery*/

/*---------Credit to Code Institute course Love Running 24: Gallery Content(customized)*/

.photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0px;
}

.photos img{
    width: 100%;
}
